.card {
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-block;
  font-family: 'Helvetica Neue';
  width: 300px;
}

.card img {
  display: block;
  height: 290px;
  width: 100%;
}

.card-content {
  padding: 14px;
}

.card-content h1 {
  font-size: 18px;
  margin: 0;
}

.card-content h2 {
  color: #aaaaaa;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.card-content p {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.card-button {
  margin-left: 10px;
}
