.app {
  margin: 20px;
}

.app .card {
  margin-right: 20px;
}

.app .form-control {
  margin-bottom: 20px;
}

.app-controls {
  margin-bottom: 10px;
}

.app-controls .ant-input {
  margin-bottom: 10px;
}